<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zeronight.templet">

    <!--网络相关权限-->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--外设权限-->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <!--拨打电话权限-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!--定位相关-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!--悬浮窗口-->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeNoActionBar"
        android:name=".common.application.BaseApplication">
        <activity android:name=".module.TempletActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".module.main.MainActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".module.login.LoginActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".module.login.RegisterActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".module.login.BindPhoneActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".module.login.ForgetPassActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".module.address.list.AddressListActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".module.address.edit.AddressAddActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".module.address.edit.AddressEditActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".module.mine.UserInfoActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".module.bankcard.list.BankCardListActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".module.bankcard.edit.BankCardAddActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".module.bankcard.edit.BankCardEditActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".module.bankcard.bank.BankActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".module.bankcard.WithdrawalsActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".module.permission.PermissionActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".module.equipment.EquipmentActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".module.filereader.FileReadActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".module.window.WindowActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".module.goods.GoodDetailActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".module.richedit.RichEditActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".module.payorder.ConfirmOrderActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".module.mine.ChangeInfoActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize"
            />

        <activity
            android:name=".module.payorder.PayActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".module.search.SearchActvity"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            />

        <!--适配android 7.0 拍照闪退的处理 ,其中authorities的值要和等下代码中使用的一致就行，其中resource内的文件就是拍照后的共享文件 -->
        <!--  ImageGetUtils中需要修改  -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.fanqie.templet.fileprovider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/fliepaths" />
        </provider>

    </application>

</manifest>